#calculator {
  margin-top: 100px;
}

#results {
  margin-top: 100px;
}

#calculator .card {
  height: 100%;
}

.icon {
  position: relative;
  top: 3px;
  margin-right: 15px;
}

.label {
  font-size: 1.4rem;
}

.input-label {
  margin-left: 80px;
}

.status-btn {
  width: 100px;
  height: 30px;
  background: blue;
}
