body {
  background: #e2e2e2;
}

#calculator {
  margin-top: 200px;
}

#results {
  margin-top: 30px;
  margin-bottom: 200px;
}

#results .card {
  background: #b8c3d0;
}

#calculator .card {
  height: 100%;
}

.loaded-results {
  margin-top: 50px;
  margin-bottom: 50px;
}

.input-label {
  margin-left: 100px;
  font-size: 1.5rem;
}

.status-btn {
  width: 100px;
  height: 30px;
  background: blue;
}

@media (min-width: 768px) {
  .input-label {
    margin-left: 180px;
  }

  #results {
    margin-top: 200px;
    margin-bottom: 0;
  }
}
